@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #D9D6D2, #F2F2F2);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #666462;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: black;
    text-align: center;

}

h2 {
    color: rgb(44, 44, 44);

}

p {
    text-align: justify;
}